# Copyright © 2023 German Cancer Research Center (DKFZ), Division of Medical Image Computing
#
# SPDX-License-Identifier: Apache-2.0

*.pyc
/dist/
/build/
/*.egg-info
.idea/
.pytest_cache/
.venv/
/resources/example/*hyperplane*
/resources/example/*centerline*
/resources/example/*static*
/resources/example/tractseg_output/
/tests/test_results/
test.ipynb
